<div class="jumbotron">
    <h1>DDTrack MOPS Services</h1>
    <p class="lead">Methods to import/export data into DDTrack Plus / Supplier Portal </p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>Click on the API to see which methods are available currently</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Mops to DD General Notes</h2>
        <p>Most services allow take a collection "List<>" of items as a parameter so you can call the API endpoint in a batch mode</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Order Import</h2>
        <p>An Order can be sent in full with all the fields set as per the <a href="~/Help/Api/POST-api-Order">Post Method</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>An Order is made up of some special types , these can be sent to the service individually as they each have their own endpoint:</p>
        <ul id="apilinks">
            <li><a href="~/Help/Api/POST-api-Supplier">Supplier Details</a></li>
            <li><a href="~/Help/Api/POST-api-Company">Company Details</a></li>
            <li><a href="~/Help/Api/POST-api-CustomerDelivery">Customer Delivery Details</a></li>
            <li><a href="~/Help/Api/POST-api-FGHItem">FGH Item Details</a></li>
            <li><a href="~/Help/Api/POST-api-Carrier">Carrier Details</a></li>
        </ul>
    </div>
</div>

